.padding-small {
    padding: 30px 0 !important;
}
h1, .h1 {
    font-size: 3.0rem;
}
section {
    padding: 50px 0;
}
section.checkout .tab-content {
    padding: 10px 0 0;
}
.home_hero h1{
    font-size: 3.5rem;
}